<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.rongcloud.radioroom">

    <application>
        <activity
            android:name=".ui.roomlist.RadioRoomListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.room.RadioRoomActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>